@media (max-width: 1200px) {
    .header {
        margin: 0 auto;
    }
    .main {
        margin: 0 auto;
    }
    .logos {
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .partners-5 {
        display: none;
    }
    .stats {
        padding: 0;
        margin: 0 0 30% 0;
        border: none;
    }
    .feedback {
        margin: 0;
        padding: 0;
    }
    .inputs input {
        width: 400px;
    }
    .contact {
        margin: 0;
    }
    .stats-images {
        flex-wrap: wrap;
        justify-content: center;
    }
    .stats-image {
        margin: 0 15px 50px 0;
    }
    .service {
        margin: 0 0 0 50px;
    }
    .feedback-left {
        display: none;
    }
    .advantages {
        padding: 0;
        margin: 0;
        border: none;
    }
    .advantages-images {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    .advantages-image {
        margin: 0 15px 50px 0;
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
}

@media (max-width: 1010px) {
    .wallet-version {
        font-size: 30px;
        line-height: 45px;
        color: #000000;
        width: 400px;
        text-align: center;
    }
    .web-version {
        max-width: 992px;
    }
    .how-to-images {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .how-to-image {
        margin: 0 15px 50px 0;
    }
    .advantages {
        margin-bottom: 30%;
    }
    .partners-4 {
        display: none;
    }
    .service-right-img,
    .service-left-img img {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header-button-1,
    .header-button-2,
    .wallet {
        display: none;
    }
    .main {
        margin: 0;
        padding: 0;
    }
    .header {
        margin: 0;
        display: flex;
        background-color: #E6F5F7;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        justify-content: space-around;
        position: relative;
    }
    .first-picture img {
        width: 100%;
    }
    .ru-button {
        margin-right: -150px;
    }
    .wallet-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .wallet-mobile-1 {
        order: -1;
    }
    .web-version {
        background: url('../img/Groupmob.jpg') no-repeat 70% 70%;
        background-size: cover;
        padding-bottom: 400px;
        padding-top: 20px;
    }
    .wallet-version {
        font-size: 40px;
        line-height: 55px;
        color: #000000;
        width: 100%;
        text-align: center;
    }
    .partners {
        margin-top: 20%;
        margin-bottom: -10%;
    }
    .partners-5,
    .partners-4,
    .partners-3 {
        display: none;
    }
    .logos {
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
    .arrow-left {
        padding-left: 20px;
    }
    .arrow-right {
        padding-right: 20px;
    }
    .advantages {
        padding: 0;
        margin: 0 0 800px 0;
        border: none;
    }
    .advantages-images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .advantages-image {
        margin-bottom: 35px;
    }
    .advantages-h,
    .how-to-h {
        font-size: 26px;
        line-height: 34px;
        text-align: center;
    }
    .how-to-images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .how-to-image {
        margin-bottom: 35px;
        padding-bottom: 10px;
        width: 100%;
    }
    .about {
        margin: 0 30px 0 30px;
    }
    .about-text {
        text-align: justify;
    }
    .about-text h2 {
        text-align: center;
    }
    .about-text li {
        line-height: 200%;
    }
    .second-image {
        display: none;
    }
    .stats {
        padding: 0;
        margin: 0 0 1100px 0;
        border: none;
    }
    .stats-image {
        margin-bottom: 35px;
        padding-bottom: 10px;
        width: 100%;
    }
    .service {
        flex-direction: column;
        align-items: center;
        text-align: justify;
        background: url('../img/Groupmob331.jpg') no-repeat;
        background-size: cover;
        padding-top: 30px;
    }
    .service-right,
    .service-left {
        width: 90%;
    }
    .service-mob {
        display: block;
        text-align: center;
    }
    .service-right .service-mob {
        text-align: left;
        margin-left: 27px;
    }
    .service-right-img,
    .service-left-img {
        display: none;
    }
    .service-right .reg-buttons {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .feedback-left,
    .feedback-right {
        display: none;
    }
    .inputs input {
        width: 414px;
    }
    .contact {
        margin: 0;
    }
    .contact-block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }
    .info,
    .download {
        display: none;
    }
}

@media (max-width: 480px) {
    .web-version {
        background: url('../img/Groupmob.jpg') no-repeat 40% 40%;
        background-size: cover;
    }
    .partners-2 {
        display: none;
    }
    .service-right,
    .service-left {
        width: 90%;
    }
    .inputs input {
        width: 80%;
    }
}