body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.wallet {
    align-self: flex-start;
    font-family: Ubuntu;
    font-size: 18px;
    line-height: 21px;
    line-height: 100%;
}

.reg-buttons button {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    border: 1px solid #0098AC;
    border-radius: 5px;
    height: 50px;
}

.header-button-1 {
    width: 215px;
    margin-right: 30px;
    background-color: #0098AC;
    color: #FFFFFF;
}

.header-button-2 {
    width: 145px;
    border: 1px solid #0098AC;
    border-radius: 5px;
}

.web-version {
    padding-top: 135px;
    padding-bottom: 140px;
    background: url('../img/Slice-BG.png') no-repeat;
    background-position: center center;
    background-size: contain;
}

.wallet-version {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    width: 60%;
}

.partners-content {
    background: #FCFCFC;
    box-sizing: border-box;
}

.partners {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-around;
    height: 233px;
}

.partners h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
}

.logos {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    margin: 0 -120px 0 -120px;
    padding: 0 120px 0 120px;
}

.partners-2 {
    margin-top: 13px;
}

.partners-4 {
    margin-bottom: 13px;
}

.about {
    padding-top: 88px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-around;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
}

.about-text h2 {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 26px;
}

.about-text p {
    font-weight: 300;
    font-size: 18px;
    line-height: 154.4%;
    text-align: justify;
    padding-bottom: 34px;
}

.about-text h3 {
    font-size: 18px;
    line-height: 154.4%;
}

.about-text ul {
    padding-top: 20px;
}

.stats {
    box-sizing: border-box;
    height: 444px;
    margin: 100px -110px 0 -110px;
    padding: 0 110px 0 110px;
    border: 1px solid #E9E9E9;
    background: #FCFCFC;
}

.stats-h {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

.stats-images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
}

.stats-image {
    border: 1px solid #E9E9E9;
    width: 216px;
}

.stats-image h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.stats-image p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.service {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 91px;
    font-family: Ubuntu;
    font-style: normal;
    background: url('../img/Groupmob331.jpg') no-repeat;
    background-size: cover;
    padding-top: 30px;
    -webkit-background-size: 50%;
    background-size: 50%;
}

.service-mob {
    display: none;
}

.service h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
}

.service p {
    font-weight: 300;
    font-size: 18px;
    line-height: 154.4%;
}

.service-left {
    width: 546px;
}

.service-right {
    width: 546px;
}

.main-button-1 {
    border: 1px solid #0098AC;
    border-radius: 5px;
    width: 268px;
    height: 50px;
    background-color: #0098AC;
    color: #FFFFFF;
    margin-top: 50px;
}

.advantages {
    box-sizing: border-box;
    height: 596px;
    margin: 100px -110px 0 -110px;
    padding: 0 110px 0 110px;
    border: 1px solid #E9E9E9;
    background: #FCFCFC;
}

.advantages-h {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

.advantages-images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
}

.advantages-image {
    border: 1px solid #E9E9E9;
    width: 320px;
}

.advantages-image h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.advantages-image p {
    font-size: 18px;
    line-height: 21px;
}

.how-to {
    margin-top: 100px;
}

.how-to-h {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
}

.how-to-images {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    font-family: Ubuntu;
    font-style: normal;
}

.how-to-image {
    /* выровнять */
    border: 1px solid #E9E9E9;
    width: 320px;
    text-align: center;
    padding-bottom: 30px;
}

.how-to-image h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 128.9%;
    text-align: center;
    text-decoration-line: underline;
}

.how-to-image-1 {
    padding-top: 30px;
}

.how-to-image-2 {
    padding-top: 70px;
}

.how-to-image-3 {
    padding-top: 60px;
}

.feedback {
    height: 532px;
    border: 1px solid #E9E9E9;
    margin: 60px -25px 0 -25px;
}

.feedback-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
}

.feedback-middle h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
}

.feedback-middle input {
    width: 638px;
    height: 61px;
    margin-top: 20px;
}

 ::placeholder {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 154.4%;
}

.contact {
    background-color: #3F3D56;
    margin-left: -25px;
    margin-right: -25px;
}

.contact-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}

.contact p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.rights {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    border: 1px solid #514F6B;
}

.footer-button {
    border: 1px solid #0098AC;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: #0098AC;
    color: #FFFFFF;
}

.footer-button-1 {
    margin-top: 30px;
}

.footer-button-2 {
    margin-top: 20px;
}

.footer-button-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-networks {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    max-width: 1170px;
    margin: 0 auto;
}

.main {
    max-width: 1170px;
    margin: 0 auto;
}

.wallet-mobile {
    display: none;
}